.panelTab {
    text-align: center;
    padding: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;

}

.activeTab {
    border-bottom-style: none;
}

.inactiveTab {
    border-bottom-width: 2px;
}