.SideBar {
    border-right-color: black;
    border-right-width: 3px;
    border-right-style: solid;
    flex-grow : 1;
}

.image-pane {
    margin: auto;
    display: inline-block;
    width: 95%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sidebar-tab-label {
  line-height: 1;
  font-size: 20px;
  text-align: center;
}